cscope.out
*.swp
*.o
*.lo
man/*.[0-9]
autom4te.cache/
Makefile.in
aclocal.m4
configure
config.in
/config/
/m4/
stamp-*
src/dbmail-deliver
src/dbmail-export
src/dbmail-httpd
src/dbmail-imapd
src/dbmail-lmtpd
src/dbmail-pop3d
src/dbmail-sievecmd
src/dbmail-timsieved
src/dbmail-users
src/dbmail-util
src/dbmail.h
debian/*.debhelper
debian/*.substvars
debian/dbmail/
debian/files
